

// Font
// $mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// // Size
// $mainFontColor           : #101010;
// $mainFontSize            : 18px;
// $mainFontWeight          : 400;
// $mainLineHeight          : 1.4;

// screen resolution
// $desktopWidth            : 1300px;
// $desktopWidth            : 1280px;
$desktopWidth            : 1150px;
// $smDesktopWidth          : 980px;
$tabletWidth              : 768px;
// $smTabletWidth              : 640px;
// $phoneWidth              : 480px;
$phoneWidth            : 320px;

// Media
$media_mobile_min: "screen and (min-width: #{$phoneWidth})";
$media_mobile_max: "screen and (max-width: #{$tabletWidth - 0.02})";

$media_tablet_min: "screen and (min-width: #{$tabletWidth})";
$media_tablet_max: "screen and (max-width: #{$desktopWidth - 0.02})";

$media_desktop: "screen and (min-width: #{$desktopWidth})";



// // Main color
// $default-color           : #ffffff;
// $primary-color           : #444ce0;
// $success-color           : #26de81;
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;
// $light-color             : #999999;
// $purple-color            : #8854d0;

// // Neutral Color
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// // Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;



