.btn {
  display: flex;
  flex-wrap: wrap;


  padding: 2px;
  background-color: #444444;

  &--submit {
    width: 100%;    
    margin: 0px;
    padding: 14px;

    font-family: "OpenSans_Bold", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;

    background-color: #ffffff;
    border: none;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      background-color: transparent;
    }
    &:active {
      // outline-style: none;
      opacity: 0.3;
    }
  }
}