    
  //   @media #{$media_tablet_min} {
  //   }
    
  //   @media #{$media_desktop} {
  // }

  // local vars
  $color_bg_interior: #63D1BB;
  $color_bg_toys: #56C3B2;

  $path : "./components/header/header";
  // #{$path}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 490px;
  padding-top: 60px;

  background-color: #F9F9F9; 
  background-repeat: no-repeat;
  background-position-x: center;

  background-image: url(#{$path}/1x_M_header_bg.jpeg);
  background-size: 575px 373px;
  background-position-y: -17px;

  
  &--title {
    margin: 0px;
    margin-top: 10px;
    padding-left: #{$padding_content_mobile};
    padding-right: #{$padding_content_mobile};
    
    font-family: "OpenSans_Bold", Arial, Helvetica, sans-serif;
    font-size: 26.5px;
    line-height: 30px;
    color: #010000;
    text-align: center;
  }

  &--item {
    
    &-interior {
      background-color: #{$color_bg_interior};
    }
    &-toys {
      background-color: #{$color_bg_toys};
    }
  }

  &--wrap_link {

    &-interior {
      background-color: #{$color_bg_interior};
    }
    &-toys {
      background-color: #{$color_bg_toys};
    }
    // HOVER & ACTIVE +5px
    &-toys,
    &-interior {
      &:hover, 
      &:active {
        position: relative;
        bottom: 5px;
      }
    }
  }

  &--link {
    display: flex;
    justify-content: space-between; 
    align-items: center;

    min-height: 103px;
    padding-left: #{$padding_content_mobile};
    padding-right: #{$padding_content_mobile};
    
    font-family: "OpenSans_Bold", Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;

    &::after {
      flex-shrink: 0;
      content: '';
      height: 60px;
      width: 60px;
      margin-left: 40px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &-interior::after {
      background-image: url(#{$path}/icon_interior_1x.png);
    }
    &-toys::after {
      background-image: url(#{$path}/icon_toy_1x.png);
    }

    // ACTIVE link opacity - 0.3
    &:active {
      opacity: 0.3;
    }
  }

  &--link_name {
    font: inherit;
  }

}