    
  //   @media #{$media_tablet_min} {
  //   }
    
  //   @media #{$media_desktop} {
  // }

  $path : "./components/header/main_nav";
  // #{$path}

.main_nav {
  position: relative;
  background: #ffffff;
      
  //   @media #{$media_tablet_min} {
  //   }
    
  //   @media #{$media_desktop} {
  // }
  // локальный враппер
  &--wrap {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }
  // скрыть чекбокс 
  &--btn_checkbox {
    display: none;
  }
  // подготовим место для кнопки
  &--btn_label {
    position: absolute;
    top: 9px;
    right: 0px;
    width: 60px;
    height: 60px;
    padding-left: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(166, 228, 154);
    cursor: pointer;
    z-index: 10;
      
    @media #{$media_tablet_min} {
      // display: none;
    }
  }
  // сам бургер
  &--btn_icon,
  &--btn_icon::before,
  &--btn_icon::after {
    position: relative;
    // position: absolute;
    display: block;
    height: 2px;
    width: 20px;
    background-color: #000000; 
    cursor: pointer;
  }
  // две полоски бургера
  &--btn_icon {
    &::before {
      position: absolute;
      content: '';
      top: -6px;    
    }
    &::after {
      position: absolute;
      content: '';
      top: 6px;    
    }
  }
  // трансформ на крестик
  &--btn_checkbox:checked ~ &--btn_label > &--btn_icon {
    transform: rotate(45deg);

    &::before {
      top: 0;
      transform: rotate(0);
    }

    &::after {
      top: 0;
      transform: rotate(90deg); 
    }
  }
  // меню открыть
  &--btn_checkbox:checked ~ &--list > &--item {
    &-catalog,
    &-knitting,
    &-search,
    &-cart {
      display: flex;
    }
  }
  // общие врапперы ссылок меню. 
  &--list {

    &-logo {
      position: relative;
    }

    &-main_links {

    }

    &-info {

    }

    &-secondary_links {
      display: none;
    }
    &-add_info {
      display: none;
    }
  }
  // ??? Бесплатная доставка
  &--add_info {
    display: none;
  }
  // враппер для ссылки
  &--item {
    display: flex;
    flex-wrap: wrap;
    min-height: 79px;
    padding-left: #{$padding_content_mobile};
    padding-right: #{$padding_content_mobile};
    // background-color: rgb(193, 241, 208);
    border-bottom: 1px solid #ECECEC;

    &-logo {

    }

    // меню скрыто
    &-catalog,
    &-knitting,
    &-search,
    &-cart {
      display: none;
    }

  }
  &--link { //
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // align-content: center;
    align-items: center;
    flex-basis: 100%;

    padding-left: 46px;
    font-family: "OpenSans_Bold", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000000;
    // background: rgb(240, 219, 219);

  //   @media #{$media_tablet_min} {
  //   }
    
  //   @media #{$media_desktop} {
  // }

    &-logo {
      justify-content: center;
      padding-left: 0px;
    }

    &-search::before,
    &-cart::before {
      content: "";
      position: absolute;
      left: 0px;
      width: 20px;
      height: 18px;
      // background-color: rgb(173, 178, 247);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-search::before {
      background-image: url(#{$path}/icon_search_1x.png);
    }

    &-search:hover {
      &::before {
        background-image: url(#{$path}/icon_search_hover_1x.png);
      }
    }

    &-cart::before {
      background-image: url(#{$path}/icon_cart_1x.png);
    }

    &-cart:hover {
      &::before {
        background-image: url(#{$path}/icon_catr_hover_1x.png);
      }
    }
  }
  // текст ссылок и логитип 
  &--link_name {
    font: inherit;

    &-logo {
      width: 86px;
      height: 35px;
      background-image: url("#{$path}/1x_M_logo_top.png"); 
      background-size: cover;
      background-repeat: no-repeat;      
    }

  }
}
